<a href="https://colab.research.google.com/github/AnjanaBabu/Datasciencelab/blob/main/pyprogram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('hello')

hello

In [ ]:
a=1
b=3
c=a+b
print (c)

4

In [ ]:
num=1234
rev=0
while num>0:
  rem=num % 10
  rev = rev * 10 + rem
  num=num//10
print (rev)

4321

In [ ]:
num=int(input("enter a number"))
rev=0
while(num>0):
  rem=num%10
  rev=rev*10+rem
  num=num//10 
print (rev)

enter a number123
321

In [ ]:
 num=int(input("enter a number"))
 if num>=0 :
  print ("positive")
 else:
  print ("negative")

enter a number12
positive

In [ ]:
num=11211
tem=num
rev=0
while(num>0):
  rem=num%10
  rev=rev*10+rem
  num=num//10 
if (tem==rev):
 print ("palindrome")
else:
 print ("not palindrome")

palindrome

In [ ]:
num=int(input("enter a number"))
tem=num
rev=0
while(num>0):
  rem=num%10
  rev=rev*10+rem
  num=num//10 
if (tem==rev):
 print ("palindrome")
else:
 print ("not palindrome")

enter a number123
not palindrome

In [ ]:
num=123
count=0
while num>0:
  count=count+1
  num=num//10
print (count)

3

In [ ]:
num=int(input("enter a number:"))
count=0
while(num>0):
  count=count+1
  num=num//10
print ("count of num is:",count)

enter a number:12344
count of num is: 5

In [ ]:
r=float(input("enter the radious:"))
area=3.14*r*r
print ("area is:",area)
perim=2*3.14*r
print ("perimeter is:",perim)

enter the radious:4
area is: 50.24
perimeter is: 25.12

In [ ]:
import math
r=float(input("enter the radious"))
area=math.pi*r*r
print ("area is:",area)
perim=2*math.pi*r
print ("perimeter is:",perim)

enter the radious2
area is: 12.566370614359172
perimeter is: 12.566370614359172

In [ ]:
a=3
b=4
c=1
if a>b and a>c:
  print (a)
elif b>a and b>c:
  print (b)
else:
  print (c)

4

In [ ]:
a=int(input("enter num1:"))
b=int(input("enter num2:"))
c=int(input("enter num3:"))
if a>b and a>c:
  print (a)
elif b>a and b>c:
  print (b)
else:
  print (c)

enter num1:2
enter num2:3
enter num3:4
4

In [ ]:
v=input("enter the comma separated nunmbers:")
list=v.split(",")
tuple=tuple(list)
print ("list is:",list)
print("tuple is:",tuple)

enter the comma separated nunmbers:1,2,1,3,4
list is: ['1', '2', '1', '3', '4']
tuple is: ('1', '2', '1', '3', '4')

In [ ]:
list=['1','2','3','4']
res=[list[0],list[-1]]
print("first and last element:",res)

first and last element: ['1', '4']

In [ ]:
dict={"1":"python","2":"IoT"}
print (dict)
dict["year"]="final"
print(dict)
dict["sem"]="third"
print (dict)

{'1': 'python', '2': 'IoT'}
{'1': 'python', '2': 'IoT', 'year': 'final'}
{'1': 'python', '2': 'IoT', 'year': 'final', 'sem': 'third'}

In [ ]:
def merge(dict1,dict):
  return(dict.update(dict1))
dict={"1":"python","2":"IoT"}
dict1={"3":"ds","4":"or","5":"daa"}
print (merge(dict1,dict))
print (dict)

None
{'1': 'python', '2': 'IoT', '3': 'ds', '4': 'or', '5': 'daa'}

In [ ]:
syear=int(input("enter the start year:"))
eyear=int(input("enter the ending year:"))
for year in range(syear, eyear):
  if(year%4==0 and year%100!=0):
    print (year)

enter the start year:1999
enter the ending year:2021
2004
2008
2012
2016
2020

In [ ]:
print("enter two numbers")
for i in range(2, 8):
 print (i)

enter two numbers
2
3
4
5
6
7

In [ ]:
n=int(input("enter a number:"))
fact=1
for x in range(1,n+1):
  fact=fact*x
  print (fact)

enter a number:9
1
2
6
24
120
720
5040
40320
362880

In [ ]:
n=int(input("enter a limit:"))
f1=0
f2=1
count=0
while(count<n):
 print (f1)
 fib=f1+f2
 f1=f2
 f2=fib
 count+=1

enter a limit:5
0
1
1
2
3

In [ ]:
def concat(str1,str2):
  return str1+str2
str1="abc"
str2="def"
res=concat(str1,str2)
print(res)

abcdef

In [ ]:
def concat(str1,str2):
  return str1+str2
str1=input("enter 1st string:")
str2=input("enter 2nd string:")
res=concat(str1,str2)
print("concat string is:",res)

enter 1st string:Anjana
enter 2nd string:Babu
concat string is: AnjanaBabu

In [ ]:
year=int(input("enter the year:"))
if(year%4==0 and year%100!=0):
  print ("leap year")
else:
  print("not leap year")

enter the year:2016
leap year

In [ ]:
def fibo(n):
   if(n<=1):
    return n
   else: 
    return (fibo(n-1) + fibo(n-2))
n=int(input("enter a sequence:"))
print("fibonacci series:")
for i in range(n):
  print (fibo(i))

enter a sequence:5
fibonacci series:
0
1
1
2
3

In [ ]:
import datetime
datetime=datetime.datetime.now()
print("current date and time:",datetime)

current date and time: 2021-11-22 05:30:20.096118

In [ ]:
for i in range(5):
    if(i==6):
       continue
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
    if(i==4):
       break
    print(i)

0
1
2
3

In [ ]:
for i in range(5):
    if(i==5):
       pass
    print(i)

0
1
2
3
4

In [ ]:
list=["anju","anjana"]
lngwrd=max(list,key=len)
print(lngwrd)
print(len(lngwrd))

anjana
6

In [ ]:
class student:
  rollno=input("rollno:")
  name=input("name:")
  totalmark=int(input("total mark:"))
print("rollno:",student.rollno)
print("name:",student.name)
print("total mark:",student.totalmark)

rollno:2
name:anu
total mark:234
rollno: 2
name: anu
total mark: 234

In [ ]:
class rectangle:
  length=10
  breadth=20
  def rectangle_area(l,b):
    return l*b
  def rectangle_perim(l,b):
    return (2*(l+b))
print("length:",rectangle.length)
print("breadth:",rectangle.breadth)
print("area of a rectangle:",rectangle.rectangle_area(rectangle.length,rectangle.breadth))
print("perimeter of a rectangle:",rectangle.rectangle_perim(rectangle.length,rectangle.breadth))

length: 10
breadth: 20
area of a rectangle: 200
perimeter of a rectangle: 60

In [ ]:
dict1={}
dict1[3]="ant"
dict1[2]="cat"
dict1[5]="rat"
dict1[1]="dog"
dict1[4]="rabbit"
for i in sorted(dict1):
 print(i,dict1[i])

1 dog
2 cat
3 ant
4 rabbit
5 rat

In [ ]:
dict1={"1":"cat","5":"dog","3":"rat","2":"fox","4":"ant"}
for i in sorted(dict1):
 print(i,dict1[i])

1 cat
2 fox
3 rat
4 ant
5 dog

In [ ]:
a=int(input("enter first num:"))
b=int(input("enter second num:"))
try:
 res=a/b
 print("result:",res)
except:
   print("exception handled and program end")

enter first num:2
enter second num:0
exception handled and program end

In [ ]:
def msgmng():
  try:
    message="helloworld"
    return helloworld
  except NameError:
    return"NameError occured.not defined variable"
print(msgmng())

NameError occured.not defined variable

In [ ]:
class operations:
  def __init__(self,n1,n2):
    self.n1=n1
    self.n2=n2
  def add(self,n1,n2):
    return self.n1+self.n2
  def sub(self,n1,n2):
    return self.n1-self.n2
  def mul(self,n1,n2):
    return self.n1*self.n2
  def div(self,n1,n2):
    return self.n1/self.n2
  def mod(self,n1,n2):
    return self.n1%self.n2
n1=int(input("enter 1st value:"))
n2=int(input("enter 2nd value:"))
obj1=operations(n1,n2)
print(n1,"+",n2,"=",obj1.add(n1,n2))
print(n1,"-",n2,"=",obj1.sub(n1,n2))
print(n1,"*",n2,"=",obj1.mul(n1,n2))
print(n1,"/",n2,"=",obj1.div(n1,n2))
print(n1,"%",n2,"=",obj1.mod(n1,n2))

enter 1st value:4
enter 2nd value:2
4 + 2 = 6
4 - 2 = 2
4 * 2 = 8
4 / 2 = 2.0
4 % 2 = 0